html {
  font-family: "Turret Road";
  background-color: bisque;
}

nav {
  background-color: aqua;
}

body {
  background-color: bisque;
  font-family: "Turret Road";
}

h1 {
  font-family: Notable;
  justify-content: center;
}
