:root {
  --primary: #359583;
  --secondary: #847535;
}

html {
  background-image: url(10print.jpg);
}

nav {
  background-color: aqua;
}

body {
  font-family: "Turret Road";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #359583;
  justify-items: center;
  text-align: center;
}

h1 {
  font-family: Notable;
  justify-content: center;
}

img {
  display: flex;
  justify-items: center;
  border-radius: 5%;
  box-shadow: 15px 10px 7px var(--secondary);
}

header {
  justify-content: center;
  display: flex;
  background-color: antiquewhite;
  opacity: 0.8;
}

header h1 {
  opacity: 1;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  flex-direction: column;
  display: flex;

  justify-content: center;
  font-size: 2em;
  text-align: center;
  position: inherit;
}

.gitLink {
  display: flex;
  justify-content: center;
  align-content: baseline;
  margin: 50px;
  position: inherit;
}
